{% extends 'base.html' %}
{% load static radio_selector_tags %}


{% block content %}

<div class="container mt-4">

    <div class="row g-3">

      {% radio_selector_modal title="Radio zoeken" static=True callback="callback" auto_confirm=True %}

    </div>
  <div class="row g-3">

</div>


<script>

  function callback(btn, data) {
    console.log(data);

    const urlTemplate = "{% url 'radio:detail' pk=0 %}"; // dummy pk=0
    const url = urlTemplate.replace('0', data.TEI);
    window.location.href = url;
  }

</script>

{% endblock %}