{% extends 'base.html' %}
{% load static radio_selector_tags i18n %}


{% block content %}

<div class="container mt-4">
    <h1 class="h3 mb-3">{% trans "Radio zoeken" %}</h1>

    <div class="row g-3">

      {% trans "Radio zoeken" as radio_search_title %}
      {% radio_selector_modal title=radio_search_title static=True callback="callback" auto_confirm=True %}

    </div>
  <div class="row g-3">

</div>


<script>

  function callback(btn, data) {
    console.log(data);

    const urlTemplate = "{% url 'radio:detail' pk=0 %}"; // dummy pk=0
    const url = urlTemplate.replace('0', data.TEI);
    window.location.href = url;
  }

</script>

{% endblock %}
