{% extends "base.html" %}

{% block title %}QR Scanner{% endblock %}

{% block extra_head %}

<style>
  #scanner {
      opacity: 0;
      position: absolute;
      left: -9999px;
    }
</style>

{% endblock %}

{% block content %}

  <div class="row">
    <h1>{{ team }}</h1>
    <hr>

    <input type="text" id="scanner" autofocus>

    <table class="table table-striped" id="scan-results">
      <thead>
        <tr>
          <th>#</th>
          <th>TEI</th>
          <th>ISSI</th>
        </tr>
      </thead>
      <tbody>
        <!-- Rijen worden dynamisch toegevoegd -->
      </tbody>
    </table>


  </div>

  <div class="row mt-4">

    <form method="POST" action="{% url 'inventory:scan_submit' %}">
      {% csrf_token %}
      <input type="hidden" name="teis" id="codes_input">
      <input type="hidden" name="team_id" id="team_id_input" value="{{ team.id }}">
      <button type="submit" class="btn btn-primary w-100">Verzenden</button>
    </form>

  </div>



{% endblock %}




{% block extra_script %}

<script>

  const resultsTableBody = document.querySelector("#scan-results tbody");
  const scannedSet = new Set();  // voor unieke scans
  const codesInput = document.getElementById('codes_input');


  document.addEventListener('DOMContentLoaded', function () {
    const input = document.getElementById('scanner');
    const table = document.getElementById('results');

    function focusInput() {
      input.focus();
    }

    document.addEventListener('click', focusInput);
    document.addEventListener('keydown', focusInput);
    window.addEventListener('blur', () => setTimeout(focusInput, 100)); // bij alt-tab

    input.focus();

    input.addEventListener('keypress', function (e) {
      if (e.key === 'Enter') {
        e.preventDefault();
        const data = input.value.trim();
        input.value = '';

        if (data === '') return;

        onScanSuccess(data)
      }
    });
  });
    



  function addScanResult(data) {
    if(scannedSet.has(data.TEI)) return; // geen dubbels
    scannedSet.add(data.TEI);

    const row = document.createElement("tr");
    const indexCell = document.createElement("th");
    indexCell.scope = "row";
    indexCell.textContent = scannedSet.size;
    const textTeiCell = document.createElement("td");
    textTeiCell.textContent = String(data.TEI).padStart(14, '0');
    const textIssiCell = document.createElement("td");
    textIssiCell.textContent = data.ISSI;

    row.appendChild(indexCell);
    row.appendChild(textTeiCell);
    row.appendChild(textIssiCell);
    resultsTableBody.appendChild(row);

    codesInput.value = JSON.stringify([...scannedSet]);
  }

  function onScanSuccess(decodedText) {
    fetch('{% url "inventory:scan_code" %}', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'  // of haal uit cookie
      },
      body: JSON.stringify({ url: decodedText })
    })
    .then(response => response.json())
    .then(data => {
      if (data.status == "ok") {
        addScanResult(data);  // Voeg toe aan tabel met serverantwoord
      } else {
        console.error(data.message);
      }
    })
    .catch(err => console.error('Fout bij verzenden:', err));
  }


  function onScanFailure(error) {
    // Optioneel: console.log(`Scan fout: ${error}`);
  }

  qrReader.start(
    {
      fps: 10,
      qrbox: { width: 200, height: 200 },
      supportedScanTypes: [Html5QrcodeScanType.SCAN_TYPE_CAMERA],
      experimentalFeatures: {
        useBarCodeDetectorIfSupported: true
      },
      videoConstraints: {
        facingMode: "environment",
        width: { ideal: 1920 },
        height: { ideal: 1080 }
      }
    },
    onScanSuccess,
    onScanFailure
  );
</script>

{% endblock %}