{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow-lg">
      <div class="card-body">
        <h4 class="card-title mb-4">Import ASTRID subscriptions</h4>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label for="excelFile" class="form-label">Kies een bestand</label>
            <input class="form-control" type="file" id="excelFile" name="excelFile" accept=".xls,.xlsx" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Uploaden</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}